---
import LinkItem from './LinkItem.astro';

interface Props {
  title: string;
  description: string;
  link?: string;
  githubUrl: string;
  imageUrl: string;
  tags: string[];
}

const { title, description, imageUrl, link, githubUrl, tags } = Astro.props as Props;
---
<div class="max-w-sm h-full flex flex-col bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-slate-900 dark:border-gray-700 transform transition-transform duration-300 hover:scale-105">
  <a href={githubUrl}>
    <img class="rounded-t-lg py-3 px-2 sm:h-[320px] lg:h-[160px] object-cover w-full" src={imageUrl} alt="" />
  </a>
  <div class="p-5 flex flex-col flex-grow justify-between">
    <div>
      <a href={githubUrl}>
        <h5 class="mb-2 text-md font-bold tracking-tight text-gray-900 dark:text-gray-300">
          {title}
        </h5>
      </a>
      <p class="mb-3 text-xs text-gray-700 dark:text-gray-400">
        {description}
      </p>
      <div class="flex flex-wrap">
        {tags.map(tag => (
          <span
            class="inline-block bg-gray-200 rounded-full px-2 py-1 text-xs font-semibold text-gray-700 mr-1 mb-2 dark:bg-black dark:text-cyan-300"
          >
            {tag}
          </span>
        ))}
      </div>
    </div>


    <div class="flex space-x-4 mt-4 text-[5px]">

      <!--LinkItem link={link} text="Preview" / 
        Se espera Implementarlo en un futuro
      -->

      <LinkItem link={githubUrl} text="GitHub" />

      
    </div>
  </div>
</div>
